---
layout: default
---
{% for post in site.posts limit:15 %}
<article class="post">
    <div class="meta">
        <div class="date">
            <time >{{ post.date |  date_to_long_string }}</time></div>
            {% if post.tags %}
                {% for tag in post.tags %}
                    <a class='category' href="/tags/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            {% endif %}
    </div>
	{% if post.metadata.link %}
	<h1 class="title">[链接]<a href="{{post.metadata.link}}" target="_blank">{{ post.title }}</a></h1>
	<div class="entry-content">
        {{ post.content | split:'<!--more-->'| first }}
        <div class="read_more">
            <a href="{{post.metadata.link}}" target="_blank">访问链接</a>
        </div>
    </div>
	{% else %}
	<h1 class="title"><a href="{{post.url}}#content">{{ post.title }}</a></h1>
    <div class="entry-content">
        {{ post.content | split:'<!--more-->'| first }}
        <div class="read_more">
            <a href="{{post.url}}#content">阅读全文</a>
        </div><br/>
    </div>
	{% endif %}
</article>
{% endfor %}
<nav id="pagenavi">
    <div class="center">
        <a href="/list.html">全部文章</a>
    </div>
</nav>