---
layout: default
---
{% for category in site.categories %}
<section class="archives">
<h1 href="#{{ category | first }}" class="year">{{ category | first }} </h1>
{% for post in category.last %}
<article>
    <div class="meta">
        <div class="date">
            <time >{{ post.date | date:"%d/%m/%Y"}}</time>
        </div>
    </div>
    {% if post.metadata.link %}
    <h1 class="title">[链接]<a href="{{post.metadata.link}}" target="_blank">{{ post.title }}</a></h1>
    {% else %}
    <h1 class="title"><a href="{{post.url}}#content">{{ post.title }}</a></h1>
    {% endif %}
</article>
{% endfor %}
</section>
{% endfor %}
