---
layout: default
---
<article class="post" id="posts">
    <h1 class="title"><a href="{{page.url}}#content">{{ page.title }}</a></h1>

    <div class="time"  style="text-align:right">
        <span class="date">{{ site.time | date_to_long_string }}</span>
    </div><hr/>

    <div class="entry-content">
        <div class="p_part">
        {{ post| auto_content }}
        {{ content }}
        </div>
    </div>

    <div class="category">
        {% if post.tags %}
            <div class="tags">
                Tags:
                {% for post in site.tags %}
                    <a href="/tags/{{ tag }}">{{ tag }}</a>
                {% endfor %}
            </div>
        {% endif %}
    </div>
    {% if site.socialshare %}
        <div class="socialshare">
            {{ site.socialshare }}
        </div>
    {% endif %}

</article>

<!-- Duoshuo Comment BEGIN -->
<div class="ds-thread" data-thread-key="yurfly_index" data-title="message_board" data-url="yurfly.com"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"yurfly"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = 'http://static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0] 
        || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- Duoshuo Comment END -->